{% extends 'registration/registration_base.html' %}
{% load static %}

{% block head_tags %}
	<script type="text/javascript" src="{% static 'javascript/login.js' %}" defer></script>
	<title>Login</title>
{% endblock head_tags %}
{% block links %}
	<a href="{% url 'signup' %}" class="d-inline-block transparent-btn mr-2 mr-md-5">SignUp</a>
	<a href="{% url 'home' %}" class="text-decoration-none fs-5 fw-semibold ms-3">Home</a>
{% endblock links %}
{% block form %}
	<form method='POST' class="bg-white mt-4">
		{% csrf_token %}
		<h4 class="m-0 mb-1 text-center">Login</h4>
		<label for="email" class="mb-1">Email:</label>
		{% if error_email %}
			<input type="email" name="email" id="email_id" class="mb-2 rounded-1 p-1 input-error" autocomplete="no" value="{{error_email}}" required>
		{% else %}
			<input type="email" name="email" id="email_id" class="mb-2 rounded-1 p-1" autocomplete="no" required>
		{% endif %}
		<label for="password" class="mb-1 mt-2">Password:</label>
		{% if error_password %}
			<input type="password" name="password" id="password_id" class="mb-2 rounded-1 p-1 input-error" autocomplete="new-password" value="{{error_password}}" required>
		{% else %}
			<input type="password" name="password" id="password_id" class="mb-2 rounded-1 p-1" autocomplete="new-password" required>
		{% endif %}
		{% if error_msg %}
			<p class="mb-1 text-danger">{{ error_msg }}</p>
		{% endif %}
		<a href="#" class="d-block text-end">Forgot Password?</a>
		<button type="submit" class="deep-btn mx-auto d-block">Submit</button>
	</form>
{% endblock form %}