{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/404.css' %}">
</head>
<body>
	<header>
		<h2>Quiz4U</h2>
	</header>
	<main>
		<h1>404</h1>
		<p class="text-grey">not found</p>
		<p>We could not find the page or the content you requested for. Perhaps it has been deleted</p>
		<a href="{% url 'home' %}" class="deep-btn">Home</a>
	</main>
</body>
</html>